{% extends "layout.html" %}
{% block title %}Bem-vindo{% endblock %}
{% block head %}
  {{ super() }}

  <link href="{{ url_for('.static', filename='css/index.css') }}" rel="stylesheet" />
{% endblock %}
{% block content %}
  <div class="row">
  	<div class="col s12 m12 l12 grey lighten-3">
  		<div class="nome-chat valign-wrapper">
  			<span class="icone-chat"><i class="material-icons">android</i></span><span>Robo Samuca</span>
  		</div>
  	</div>
  	<div class="col s12 m12 l12 amber accent-1 mensagens-chat">
			<div class="row">
				<div class="col s11 m10 l10 left yellow lighten-5 mensagem-chat">
						Hi, how are you?
				</div>
				<div class="col s11 m10 l10 right light-green accent-1 mensagem-chat">
						Hi. I'm fine.
				</div>
			</div>
  	</div>
  	<div class="col s12 m12 l12 grey lighten-3">
  		<div class="row div-mensagem">
        <div class="input-field col s9 m10 l11">
          <input type="text" name="mensagem" id="mensagem" />
        </div>
				<div class="col s3 m2 l1 center div-btn-mensagem">
					<button disabled><i class="material-icons center">send</i></button>
				</div>
      </div>
  	</div>
  </div>
{% endblock %}